aside{
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  max-width: 32rem;
}
aside > h1{
  font-size: 2.8rem;
  font-weight: 700;

  margin-bottom: 3.6rem;
}
 h2{
  font-weight: 700;
}
.ingredients{
  margin-bottom: 2rem;
  padding-left: 2.0rem;
}
.preparation{
  margin-bottom: 1.7rem;
  padding-left: 1.6rem;

}
button{
  background: #A54328;
  color: white;

  border-radius: .6rem;
  border: 0;
  
  font-family: 'Source Serif 4', serif;
  padding: 1.1rem;
   
}
@media (min-width: 1024px){
  aside{
    max-width: 52.5rem;
  }
  aside > h1{
    font-size: 4.0rem;
    margin-bottom: 3.6rem;
  }
  h2{
    font-size: 2.0rem;
  }
  li{
    font-size: 2.0rem;
  }
  .preparation{
    margin-bottom: 2.4rem;
  }
  button{
    padding: 1rem 2rem;
    font-size: 1.4rem;
    line-height: 2.4rem;
  }
}