main{
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  max-width: 32rem;

  margin-bottom: 3.4rem;
}
main > h1{
  font-size: 2.8rem;
  font-weight: 700;
}
main > img{
  width: 100%;

  margin-block: 4.7rem; /*coloca a margin no top e botton*/
}
main > p{
  font-size: 1.4rem;
}

@media (min-width: 1024px){
  main{
    max-width: 43.5rem;
  }
  main > h1{
    font-size: 4.0rem;
    margin-bottom: 6.6rem;
  }
  main > img{
    width: 41.1rem;
  
    margin-bottom: 6.6rem;
  }
  main > p{
    font-size: 2.0rem;
  }
}